$fontFamily:"Heebo";
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthConteiner: 856px;
$md1: $maxWidthConteiner + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

.works {
    @media (max-width: $md3) {
        display: flex;
        overflow: auto; //скролл в бок
    }
}
.works_main-title {
    margin: 0px 0px 45px 0px;
    @media (max-width: $md3) {
        margin: 0px 0px 20px 0px;
        text-align: center;
    }
}
.works_item {
    
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
    @media (min-width: $md3) {
        display: flex;
        align-items: flex-start;
    }
    @media (max-width: $md3) {
        flex: 0 0 80%;
        margin: 0px 15px 0px 0px;
    }
    
}
.works_image {
    display: block;
    flex: 0 0 246px;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
    @media (max-width: $md3) {
        padding: 0px 0px 60% 0px;
        margin: 0px 0px 17px 0px;
    }
}
.works_body {
    flex: 1 1 auto;
    @media (min-width: $md3) {
        padding: 0px 0px 0px 18px;
    }
}
.works_title {
    color: inherit;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    display: inline-block;
    margin: 0px 0px 15px 0px;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    @media (max-width: $md3) {
        font-size: 24px;
    }
    @media (min-width: $md2) {
        &:hover{
            color: #ff6464;
        }
    }
}
.works_info {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
}
.works_year {
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    display: inline-flex;
}
.works_category {
    color: #c2c0c0;
    font-size: 20px;
    margin: 0px 0px 0px 25px;
}
.works_text {

}

